

<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galeria de Fotos</title>
     
     <link rel="stylesheet" href="./index.css">
     
  </head>
  <body>
    <div class="title">
      <h1>GALERIA</h1>
    </div>
    <div class="content">
      <div class="gallery">
        <div class="gallery-item">
          <img
            src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQGxyol0vbvfuFPqi1rhZUXjW513dR3WVQrn8f8SJP8RnHy2gAUFAk29d4spakl6bpZQA&usqp=CAU"
            alt="Foto 1"
          />
        </div>
        <div class="gallery-item">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQGxyol0vbvfuFPqi1rhZUXjW513dR3WVQrn8f8SJP8RnHy2gAUFAk29d4spakl6bpZQA&usqp=CAU"
            alt="Foto 2"
          />
        </div>
        <div class="gallery-item">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQGxyol0vbvfuFPqi1rhZUXjW513dR3WVQrn8f8SJP8RnHy2gAUFAk29d4spakl6bpZQA&usqp=CAU"
            alt="Foto 3"
          />
        </div>
        <div class="gallery-item">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQGxyol0vbvfuFPqi1rhZUXjW513dR3WVQrn8f8SJP8RnHy2gAUFAk29d4spakl6bpZQA&usqp=CAU"
            alt="Foto 4"
          />
        </div>
        <div class="gallery-item">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQGxyol0vbvfuFPqi1rhZUXjW513dR3WVQrn8f8SJP8RnHy2gAUFAk29d4spakl6bpZQA&usqp=CAU"
            alt="Foto 5"
          />
        </div>
        <div class="gallery-item">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQGxyol0vbvfuFPqi1rhZUXjW513dR3WVQrn8f8SJP8RnHy2gAUFAk29d4spakl6bpZQA&usqp=CAU"
            alt="Foto 6"
          />
        </div>
      </div>
    </div>
  </body>
</html>
